.main-container {
    width: 75%;
    margin :auto;
}


.center {
    width: 18rem; margin:5rem auto;
}
body {
    --body-bg-color: white;
    --text-color:black;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}
body.dark {
    --body-bg-color:black;
    --text-color: antiquewhite;
}

.dark, .dark:focus {
    background-color: var(--body-bg-color);
    color: var(--text-color);
}
