{% extends 'base.html' %}
{% block content %}
{% if records %}


    <div class="card-deck">
      {% if records %}
        {% for record in records %}
        <div class="card" style="margin: 2rem;">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'viewRecord' record.id %}">{{record.title}} </h5> </a> 
            <p class="card-text"> {{record.content}}</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
        {% endfor %}
      {% else %}
      <p>No records found</p>
      {% endif %}
    </div>
   
    



{% endif %}
{% endblock %}