{% extends 'base.html' %}
{%block content%}

{% if user.is_authenticated %}
<div class="card center">
    <div class="card-header">
      {{record.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">{{record.content}}</p>
      <a href="{% url 'updateRecord' record.id %}" class="btn btn-secondary">update</a>
      <a href="{% url 'deleteRecord' record.id %}" class="btn btn-danger">delete</a>
    </div>
    <div class="card-footer text-body-secondary">
      <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    </div>
  </div>

{% else %}
pls login to acces this content
{% endif %}
{%endblock%}